body {
  font-family: Inter;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  gap: 24px;
  align-items: center;
  margin: 0 auto;
}

/* header & nav */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #53389e;
  max-width: 1440px;
  width: 100%;
}

.nav {
  display: flex;
  gap: 180px;
  align-items: center;
  justify-content: space-between;
}

.twoBtn {
  display: flex;
  gap: 12px;
}

.list {
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  gap: 4px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
}

.item div {
  display: flex;
  align-items: center;
}

.white {
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 8px;
  color: #414651;
  font-weight: 600;
  line-height: 24px;
}

.purple {
  padding: 10px 16px;
  background-color: #7f56d9;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.btn {
  display: flex;
  gap: 8px;
  align-items: center;
}

.twoBtn {
  display: flex;
  justify-content: center;
}

.BtnTwo {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.demoBtn {
  padding: 16px 22px;
  border-radius: 10px;
  background: #fff;
  color: #414651;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.signBtn {
  border-radius: 10px;
  background: #7f56d9;
  padding: 16px 22px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.text {
  display: flex;
  padding-top: 96px;
  flex-direction: column;
}

.super {
  align-self: center;
  color: #e9d7fe;
  font-weight: 600;
  line-height: 24px;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: -1px;
  max-width: 768px;
  width: 100%;
  padding-top: 16px;
  margin: unset;
  align-self: center;
}

.simple {
  color: #e9d7fe;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 24px;
}

.credit {
  padding: 0 96px;
  max-width: 1280px;
  width: 100%;
  height: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 96px 0;
}

.comp {
  color: #535862;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
}

.wrapLogo {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.right {
  display: flex;
  gap: 24px;
}

.left {
  display: flex;
  gap: 24px;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  gap: 24px;
}

.mainText {
  display: flex;
  max-width: 1440px;
  width: 100%;
  padding: 96px 0;
  background-color: #f2edff;
  justify-content: center;
}

.mainBox {
  display: flex;
  max-width: 1440px;
  width: 100%;
  padding: 96px 0;
  background-color: #f2edff;
  justify-content: center;
}

.manyText {
  max-width: 1280px;
  width: 100%;
  padding: 0 32px;
  gap: 64px;
  display: flex;
}

.textBox {
  max-width: 1280px;
  width: 100%;
  padding: 0 32px;
  gap: 64px;
  display: flex;
}

.zap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  max-width: 360px;
  width: 100%;
}

.the {
  color: #181d27;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1px;
}

.spend {
  color: #535862;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.box {
  display: flex;
  gap: 64px;
}

.you {
  max-width: 364px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.gap span {
  color: #181d27;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.gap p {
  color: #535862;
  font-weight: 400;
  line-height: 24px;
}

.gap {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  padding-bottom: 96px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.feature {
  display: flex;
  flex-direction: column;
  padding: 0px 32px;
  max-width: 1280px;
  width: 100%;
}

.feature span {
  color: #6941c6;
  font-weight: 600;
  line-height: 24px;
}

.in {
  color: #181d27;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1px;
  padding-top: 12px;
}

.get {
  color: #535862;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 20px;
}

.team {
  display: flex;
  padding: 64px 32px 32px 0;
  gap: 64px;
}

.arrow span {
  color: #6941c6;
  font-weight: 600;
  line-height: 24px;
}

.teamL {
  display: flex;
  flex-direction: column;
}

.have {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-left: 4px solid #9e77ed;
}

.share {
  color: #181d27;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.whether {
  color: #535862;
  font-weight: 400;
  line-height: 24px;
}

.arrow {
  display: flex;
  gap: 6px;
  align-items: center;
  padding-top: 20px;
}

.one {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-left: 4px solid #f5f5f5;
}

.teamR {
  border-radius: 30px;
  border: 2px solid #d5d7da;
  box-shadow: 0px 10.105px 13.474px -3.368px var(--Colors-Effects-Shadows-shadow-lg_01, rgba(10, 13, 18, 0.08)),
    0px 3.368px 5.053px -1.684px var(--Colors-Effects-Shadows-shadow-lg_02, rgba(10, 13, 18, 0.03)),
    0px 1.684px 1.684px -0.842px var(--Colors-Effects-Shadows-shadow-lg_03, rgba(10, 13, 18, 0.04));

  min-width: 600px;
  min-height: 450px;
  height: 100%;
  background-size: cover;
  position: relative;
  left: 200px;
  top: 32px;
  overflow: hidden;
}

.photoR {
  position: absolute;
  border-radius: 30px;
  background-image: url("../images/mockup.svg");
  min-width: 600px;
  min-height: 500px;
  height: 100%;
  background-size: cover;
}

.rightOne {
  max-width: 440px;
  width: 100%;
}

.cardBox {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  border-radius: 16px;
}

.basic {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.zaper {
  padding-bottom: 6px;
}

.basic {
  color: #6941c6;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  border-radius: 16px;
  background: #fff;
}

.bill {
  color: #181d27;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1px;
}

.billed {
  color: #535862;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
}

.check {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 32px 40px 32px;
}

.check button {
  display: flex;
  gap: 12px;
  align-items: center;
}

.getS {
  display: flex;
  border-top: 1px solid #e9eaeb;
  padding: 32px;
  border-radius: 0 0 16px 16px;
  border: 1px solid #e9eaeb;
  background: #fff;
  box-shadow: 0px 12px 16px -4px var(--Colors-Effects-Shadows-shadow-lg_01, rgba(10, 13, 18, 0.08)),
    0px 4px 6px -2px var(--Colors-Effects-Shadows-shadow-lg_02, rgba(10, 13, 18, 0.03)),
    0px 2px 2px -1px var(--Colors-Effects-Shadows-shadow-lg_03, rgba(10, 13, 18, 0.04));
}

.getS button {
  padding: 12px 18px;
  border-radius: 8px;
  background: #7f56d9;
  flex: 1;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
}

.photo {
  display: flex;
  padding: 96px 0;
  max-width: 1280px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 64px;
  gap: 24px;
  border-radius: 24px 0px 0px 24px;
  background: #53389e;
}

.stars {
  display: flex;
  gap: 4px;
  align-items: center;
}

.love {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.72px;
}

.woman {
  max-width: 480px;
  width: 100%;
  min-height: 458px;
  height: 100%;
  display: flex;
  border-radius: 0 16px 16px 0;
  background-image: url("../images/Image.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.renee {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.product {
  color: #e9d7fe;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  align-self: flex-start;
  padding-top: 20px;
}

.footer {
  display: flex;
  gap: 64px;
  background-color: #fafafa;
  padding: 64px 0 48px 0;
  max-width: 1440px;
  width: 100%;
  flex-direction: column;
}

.listItems {
  display: flex;
  padding: 0 32px;
  max-width: 1280px;
  width: 100%;
  justify-content: space-between;
}

.ui {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.desigh {
  color: #535862;
  font-weight: 400;
  line-height: 24px;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 96px;
  width: 100%;
}

.homeTwo {
  display: flex;
  gap: 12px;
  width: 250px;
  justify-content: space-between;
}

.products {
  padding-bottom: 4px;
  color: #181d27;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.over {
  color: #181d27;
  font-weight: 600;
  line-height: 24px;
}

.over:hover {
  color: #6941c6;
}

form label {
  color: #181d27;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

form input {
  border-radius: var(--radius-md, 8px);
  border: 1px solid #7f56d9;
  background: #fff;
  box-shadow: 4px 4px 20.9px 0px rgba(127, 86, 217, 0.25);
  padding: 10px 14px;
}

#email::placeholder {
  overflow: hidden;
  color: #717680;
  text-overflow: ellipsis;
  font-weight: 400;
  line-height: 24px;
}

form button {
  padding: 10px 16px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  border-radius: var(--radius-md, 8px);
  background: #7f56d9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  display: flex;
  gap: 16px;
}

.copy {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e9eaeb;
  padding: 32px 32px 0;
  max-width: 1280px;
  width: 100%;
}

.unit {
  color: #717680;
  font-weight: 400;
  line-height: 24px;
}

.united {
  display: flex;
  gap: 16px;
}

.boxYou {
  display: flex;
  gap: 64px;
}

.wrapLeft {
  display: flex;
  gap: 24px;
}

.formHome {
  display: flex;
  gap: 140px;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  body:hover {
    all: unset;
  }

  .list {
    display: none;
  }
  .twoBtn {
    display: none;
  }
  .burger {
    padding: 8px;
    display: flex;
  }
  .nav {
    gap: 500px;
    padding-top: 20px;
  }

  .credit {
    overflow: hidden;
  }

  .one {
    width: 150px;
  }

  .wrapLogo {
    max-width: 400px;
    width: 100%;
    flex-wrap: wrap;
  }

  .join {
    align-items: center;
  }

  .boxYou {
    flex-direction: column;
  }

  .manyText {
    justify-content: space-around;
  }

  .teamR {
    min-height: 1000px;
    margin-left: 50px;
  }
  .team {
    gap: unset;
  }

  .feature {
    max-width: unset;
    width: unset;
  }

  .photoR {
    position: absolute;
    border-radius: 30px;
    background-image: url("../images/mockup.svg");
    min-width: 600px;
    min-height: 500px;
    height: 100%;
    background-size: cover;
  }

  .teamL {
    position: absolute;
    left: 150px;
    max-width: 200px;
  }

  .one {
    width: unset;
  }

  .cardBox {
    width: 336px;
  }

  .textBox {
    flex-direction: column;
  }

  .wrapLeft {
    justify-content: space-evenly;
  }

  .photo {
    flex-direction: column;
    align-items: center;
  }
  .woman {
    border-radius: 0 0 16px 16px;
    max-width: 700px;
    width: 100%;
  }

  .section {
    max-width: 700px;
    width: 100%;
    border-radius: 16px 16px 0 0;
  }

  .listItems {
    flex-direction: column;
  }

  .formHome {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .desigh {
    padding-bottom: 40px;
  }

  .form {
    padding-bottom: 20px;
  }

  .header {
    overflow: hidden;
  }

  .wrapper {
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  body:hover {
    all: unset;
  }

  .wrapper {
    max-width: 320px;
    width: 100%;
  }

  .list {
    display: none;
  }
  .twoBtn {
    display: none;
  }
  .burger {
    padding: 8px;
    display: flex;
  }
  .nav {
    gap: 200px;
    padding-top: 20px;
  }

  .header {
    overflow: hidden;
  }

  .super {
    font-size: 14px;
    text-align: left;
    max-width: 258px;
    width: 100%;
  }

  h1 {
    font-size: 36px;
  }

  .credit img {
    width: 400px;
  }

  .credit {
    height: unset;
  }

  .nav {
    width: 300px;
    gap: unset;
  }

  h1 {
    max-width: 258px;
    width: 100%;
    line-height: 35px;
    text-align: left;
  }

  .simple {
    font-size: 18px;
    text-align: left;
    max-width: 258px;
    width: 100%;
  }

  .text {
    align-items: center;
  }

  .BtnTwo {
    flex-direction: column-reverse;
    max-width: 288px;
    width: 100%;
  }

  .hero {
    align-items: center;
  }

  .demoBtn {
    display: flex;
    justify-content: center;
  }

  .wrapLogo {
    flex-wrap: wrap;
    max-width: 288px;
    width: 100%;
  }

  .comp {
    max-width: 228px;
    width: 100%;
  }

  .join {
    align-items: center;
  }

  .right {
    flex-wrap: wrap;
    justify-content: center;
  }

  .left {
    flex-wrap: wrap;
    justify-content: center;
  }

  .manyText {
    flex-direction: column;
    gap: 48px;
  }

  .boxYou {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .photoR {
    position: absolute;
    border-radius: 30px;
    background-image: url("../images/mockup.svg");
    min-width: 600px;
    min-height: 500px;
    height: 100%;
    background-size: cover;
  }
  .photo {
    flex-direction: column;
    align-items: center;
  }

  .woman {
    max-width: 480px;
    width: 100%;
    min-height: 458px;
    height: 100%;
    display: flex;
    border-radius: 0 16px 16px 0;
    background-image: url("../images/Image.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section {
    max-width: 280px;
    width: 100%;
    border-radius: 16px 16px 0 0;
  }
  .lady {
    display: flex;
    flex-direction: column;
    max-width: 288;
    width: 100%;
    background-color: gray;
  }

  .the {
    font-size: 30px;
  }

  .spend {
    font-size: 18px;
  }

  .give {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .btnBox {
    display: flex;
  }

  .giveWrap {
    padding: 40px 24px 48px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .gap span {
    font-size: 18px;
  }

  .signBtn {
    font-size: 16px;
  }

  .demoBtn {
    font-size: 16px;
  }

  .give span {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
  }

  .give p {
    color: #e9d7fe;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }

  .btnBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .buttonOne {
    border-radius: var(--radius-md, 8px);
    background: #7f56d9;
    align-self: stretch;
    padding: 12px 18px;
    color: #fff;
    font-weight: 600;
    line-height: 24px;
  }

  .buttonTwo {
    border-radius: var(--radius-md, 8px);
    border-radius: var(--radius-md, 8px);
    border: 1px solid #d5d7da;
    background: #fff;
    box-shadow: 0px 0px 0px 1px;
    align-self: stretch;
    padding: 12px 18px;
    color: #414651;
    font-weight: 600;
    line-height: 24px;
  }

  .lady {
    background-color: #53389e;
    border-radius: 16px;
    position: relative;
    bottom: 30px;
    left: 20px;
    max-width: 288px;
    width: 100%;
  }

  .girl {
    max-width: 480px;
    width: 100%;
    min-height: 458px;
    height: 100%;
    display: flex;
    border-radius: 0 0 16px 16px;
    background-image: url("../images/ImageTwo.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .in {
    font-size: 30px;
  }

  .get {
    font-size: 18px;
  }

  .card {
    position: relative;
  }

  .team {
    flex-wrap: wrap;
    max-width: 288px;
    width: 100%;
    padding: unset;
    justify-content: center;
  }

  .teamR {
    left: 0px;
    top: 0px;
  }

  .photoR {
    min-width: 288px;
    min-height: 20px;
  }

  .teamR {
    min-width: 288px;
    min-height: 220px;
    border-radius: unset;
    margin-bottom: 64px;
  }

  .textBox {
    flex-wrap: wrap;
  }

  .wrapLeft {
    flex-wrap: wrap;
  }

  .check button {
    max-width: 200px;
    width: 100%;
    text-align: left;
  }

  .rightOne span {
    font-size: 14px;
  }

  .feature {
    padding: unset;
  }

  .bill {
    font-size: 36px;
  }

  .get {
    padding-bottom: 64px;
  }

  .section {
    flex-direction: column;
    flex: 1;
    border-radius: 16px 16px 0 0;
    max-width: 288px;
    width: 100%;
  }

  .love {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  .section {
    padding: 40px 24px;
  }

  .woman {
    max-width: 288px;
    width: 100%;
    border-radius: 0 0 16px 16px;
  }

  .listItems {
    flex-direction: column;
    max-width: 288px;
    width: 100%;
    gap: 48px;
  }

  .formHome {
    flex-direction: column-reverse;
  }

  .card {
    padding: 0;
  }

  .form {
    flex-direction: column;
  }

  .homeTwo {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .copy {
    flex-direction: column;
    gap: 24px;
  }
}
